{% extends "base.html" %}

{% block title %}
Home | NutriFit Healthy
{% endblock %}

{% block content %}

<section class="container py-5 text-center">

    <h1 class="display-4">
        Nutrition & Personal Training
    </h1>

    <p class="lead mt-3">
        Build healthy habits and achieve your goals.
    </p>

    <div class="mt-4">

        <a href="/nutrition/" class="btn btn-success me-2">
            Nutrition Plans
        </a>

        <a href="/workouts/" class="btn btn-outline-dark">
            Workouts
        </a>

    </div>

</section>

{% endblock %}