{% extends "base.html" %}

{% block title %}
Sign Up | NutriFit Healthy
{% endblock %}

{% block content %}

<section class="auth-section">

    <div class="auth-card">

        <h1>Create Account</h1>

        <p class="auth-subtitle">
            Start your personalised nutrition journey.
        </p>

        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit"
                    class="btn hero-primary-btn w-100">

                Create Account

            </button>

        </form>

        <div class="auth-link">

            Already have an account?

            <a href="{% url 'account_login' %}">
                Login
            </a>

        </div>

    </div>

</section>

{% endblock %}