<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link
href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
rel="stylesheet">

<title>NutriFit Healthy</title>
</head>

<body>

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">NutriFit Healthy</a>
  </div>
</nav>

<section class="container py-5 text-center">
  <h1>Nutrition & Personal Training</h1>
  <p>Build healthy habits and achieve your goals.</p>

  <a class="btn btn-success">
    Book Consultation
  </a>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>